@media screen and (min-width:800px){
    div.temple-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    header nav{
        display: flex;
    }
    
    header nav div{
        width: 400px;
        display: inline-block;
    }
    
    header nav ul{
        display: flex;
        color: white;
        padding: 10px 0;
        width: 100%;
        text-align: center;
    
    }
    


    header nav ul a{
        color: white;
        text-decoration: none;
        width: 100%;
    }
    .hamburger{
        display: none;
    }
    .navigation{
        display: flex;
    }
}
